<div class="col-10 offset-1">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="https://github.com/davidjlopez19">David</a> A Beginner a Web Developing with aspirations of making an impact on the industry with his creative mind and his visually aesthetic designs 
  </p>
  <br />
  <p>
    In the early stages of Web Developing he is ready to gain as much knowledge as possible to be successful.  With a Training
</div>