<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="https://github.com/davidjlopez19">David Lopez</a> a beginner in Web Developing community. He has aspirations of making an impact on the industry with his creative mind and his visually aesthetic designs!
  </p>
  <br />
  <p>
    In the early stages of Web Developing he is gaining as much knowledge as possible to be successful at his craft.  With a Training and Instructional Design background he's hoping to spread his knowledge amongst his peers.
  </p>
  <p>
    If you want to learn how to code just like David did..?? - start by <a target="_blank" href="https://online.botcampspot.com"> clicking here </a>


  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'david.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">David Lopez</h2>
      <br />
      <p>
        David Lopez is a web developer and instructional designer. He's help design and manage training for a major telecommunications company.
      </p>
    </div>
  </div>

</div>
<br clear="clear" />
<br />
<br />
<br />
<br />