@import url('https://fonts.googleapis.com/css?family=Anton|Bowlby+One+SC|Roboto:300');
@import "bootstrap";

.clear {
  clear: both;
}

.circle {
  font-family: 'Anton', sans-serif;
  font-weight: thin;
  font-style: black italic;
  position: relative;
  border-radius: 100%;
  background: #30ad87;
  border: 3px solid #141414;
  width: 95px;
  height: 95px;
  margin: 10px 10px;
  text-align: center;
  color: #FFF;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
  transform: rotate (-11deg);
  -ms-transform: rotate(-11deg); /* IE 9 */
  -webkit-transform: rotate(-11deg); /* Opera, Chrome, and Safari */
}

.slogan {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  padding-top: 45px;
}

.links {
  padding-top: 26px;
}

.links a {
  color: black;
  font-size: 25px;
  border-bottom: 1px solid #dfdfdf;
  font-family: 'Anton', sans-serif;
  font-weight: thin;
}

header {
  border-top: 9px solid #222222;
}

hr {
  clear:both;
}

h1{
  font-family: 'Bowlby One SC', cursive;
}

h2 {
  font-family: 'Bowlby One SC', cursive;
}

.next-quote {
  color: #f84342;
  font-family: 'Anton', sans-serif;
  font-weight: thin;
  font-size: 20px;
}

.footer-blurb {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  text-align: right;
  font-size: 12px;
}